<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.files.css %>">
    <script src="<%= htmlWebpackPlugin.options.files.js %>" defer></script>
</head>
<body>
<section class="work-process"><a class="anchor" name="process"></a>
    <div class="container">
        <div class="title"><span class="highlight-text">Working</span> Process</div>
        <div class="description">Lorem ipsum dolor sit amet consectet ur adipiscing elit Vestibulum bibend um
            vestibulum.
        </div>
        <div class="processes">
            <div class="processes__process process">
                <div class="process__icon"></div>
                <div class="process__name-proc">Koc Koi Tomi</div>
                <div class="process__description">Lorem ipsum is dummy lorem very dumy</div>
                <button class="process__button button">
                    <svg class="button__svg svg" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path class="svg__path" fill-rule="evenodd" opacity="0.502"
                              d="M16.000,9.043 L8.348,9.043 L8.348,15.999 L6.956,15.999 L6.956,9.043 L-0.000,9.043 L-0.000,7.652 L6.956,7.652 L6.956,-0.000 L8.348,-0.000 L8.348,7.652 L16.000,7.652 L16.000,9.043 Z"></path>
                    </svg>
                    Know More
                </button>
            </div>
            <div class="processes__process process">
                <div class="process__icon"></div>
                <div class="process__name-proc">Koimona Set</div>
                <div class="process__description">Lorem ipsum is dummy you lorem very dumyL is</div>
                <button class="process__button button">
                    <svg class="button__svg svg" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path class="svg__path" fill-rule="evenodd" opacity="0.502"
                              d="M16.000,9.043 L8.348,9.043 L8.348,15.999 L6.956,15.999 L6.956,9.043 L-0.000,9.043 L-0.000,7.652 L6.956,7.652 L6.956,-0.000 L8.348,-0.000 L8.348,7.652 L16.000,7.652 L16.000,9.043 Z"></path>
                    </svg>
                    Know More
                </button>
            </div>
            <div class="processes__process process">
                <div class="process__icon"></div>
                <div class="process__name-proc">Setting Koire</div>
                <div class="process__description">Lorem ipsum is dummy lorem very yLorem ipsus</div>
                <button class="process__button button">
                    <svg class="button__svg svg" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path class="svg__path" fill-rule="evenodd" opacity="0.502"
                              d="M16.000,9.043 L8.348,9.043 L8.348,15.999 L6.956,15.999 L6.956,9.043 L-0.000,9.043 L-0.000,7.652 L6.956,7.652 L6.956,-0.000 L8.348,-0.000 L8.348,7.652 L16.000,7.652 L16.000,9.043 Z"></path>
                    </svg>
                    Know More
                </button>
            </div>
            <div class="processes__process process">
                <div class="process__icon"></div>
                <div class="process__name-proc">Ko Image Lara</div>
                <div class="process__description">Lorem ipsum is dummy ry dumyLorem ipsum is</div>
                <button class="process__button button">
                    <svg class="button__svg svg" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path class="svg__path" fill-rule="evenodd" opacity="0.502"
                              d="M16.000,9.043 L8.348,9.043 L8.348,15.999 L6.956,15.999 L6.956,9.043 L-0.000,9.043 L-0.000,7.652 L6.956,7.652 L6.956,-0.000 L8.348,-0.000 L8.348,7.652 L16.000,7.652 L16.000,9.043 Z"></path>
                    </svg>
                    Know More
                </button>
            </div>
        </div>
    </div>
</section>
<section class="team"><a class="anchor" name="team"></a>
    <div class="container">
        <div class="title"><span class="highlight-text">Team</span> Chinen &amp; Skills</div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident
            Libero.
        </div>
        <div class="team__members members">
            <div class="members__member member">
                <div class="member__background background"><img class="background__photo"
                                                                src="img/member_01.jpg<%require('./img/member_01.jpg')%>"
                                                                alt="photo"></div>
                <div class="member__skills skills">
                    <div class="skills__skill skill">
                        <div class="skill__name">UI/UX Parena</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:85%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">English</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:77%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">Communication</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:90%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member__who who">
                    <div class="who__name">Bedi Manos</div>
                    <div class="who__job">UI/UX Parena</div>
                    <div class="who__socials socials"><a class="socials__link" href="#"></a><a class="socials__link"
                                                                                                href="#"></a><a
                            class="socials__link" href="#"></a></div>
                </div>
            </div>
            <div class="members__member member">
                <div class="member__background background"><img class="background__photo"
                                                                src="img/member_02.jpg<%require('./img/member_02.jpg')%>"
                                                                alt="photo"></div>
                <div class="member__skills skills">
                    <div class="skills__skill skill">
                        <div class="skill__name">UI/UX Design</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:80%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">English</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:75%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">Communication</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:77%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member__who who">
                    <div class="who__name">Al Rayhan</div>
                    <div class="who__job">UI/UX Designer</div>
                    <div class="who__socials socials"><a class="socials__link" href="#"></a><a class="socials__link"
                                                                                                href="#"></a><a
                            class="socials__link" href="#"></a></div>
                </div>
            </div>
            <div class="members__member member">
                <div class="member__background background"><img class="background__photo"
                                                                src="img/member_03.jpeg<%require('./img/member_03.jpeg')%>"
                                                                alt="photo"></div>
                <div class="member__skills skills">
                    <div class="skills__skill skill">
                        <div class="skill__name">UI/UX Design</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:90%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">English</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:80%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skills__skill skill">
                        <div class="skill__name">Communication</div>
                        <div class="skill__progress progress">
                            <div class="progress__achievement achievement" style="width:80%">
                                <div class="achievement__fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member__who who">
                    <div class="who__name">Ali Sayed</div>
                    <div class="who__job">UI/UX Designer</div>
                    <div class="who__socials socials"><a class="socials__link" href="#"></a><a class="socials__link"
                                                                                                href="#"></a><a
                            class="socials__link" href="#"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="client-said"><a class="anchor" name="clients"></a>
    <div class="container">
        <div class="title"><span class="highlight-text">Clients</span> Said</div>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident
            Libero.
        </div>
        <div class="client-said__slider slider">
            <div class="slider__arrow slider__arrow_disabled"></div>
            <div class="slider__arrow"></div>
            <div class="slider__controls controls"><input class="controls__radio" type="radio" name="cs-progress"
                                                          id="cs-client1" checked="true"><label class="controls__label"
                                                                                                for="cs-client1"></label><input
                    class="controls__radio" type="radio" name="cs-progress" id="cs-client2"><label
                    class="controls__label" for="cs-client2"></label><input class="controls__radio" type="radio"
                                                                            name="cs-progress" id="cs-client3"><label
                    class="controls__label" for="cs-client3"></label></div>
            <div class="slider__carousel carousel">
                <div class="carousel__slide slide slide_active" style="left: 0%;">
                    <div class="slide__image image"><img class="image__photo" src="img/client_03.jpg<%require('./img/client_03.jpg')%>" alt="photo"></div>
                    <div class="slide__said">“This was my first time renting from car rental. The service rep help me
                        find the best rental to suit my needs. I will definitely rent with this company again”
                    </div>
                    <div class="slide__stars"></div>
                    <div class="slide__client client"><span class="client__name">Kita Say, </span><span
                            class="client__job"><i>HK Director</i></span></div>
                </div>
                <div class="carousel__slide slide" style="left: 0%;">
                    <div class="slide__image image"><img class="image__photo" src="img/client_01.jpg<%require('./img/client_01.jpg')%>" alt="photo"></div>
                    <div class="slide__said">“This was my first time renting from car rental. The service rep help me
                        find the best rental to suit my needs. I will definitely rent with this company again”
                    </div>
                    <div class="slide__stars"></div>
                    <div class="slide__client client"><span class="client__name">Al Rayhan, </span><span
                            class="client__job"><i>UX Director</i></span></div>
                </div>
                <div class="carousel__slide slide" style="left: 0%;">
                    <div class="slide__image image"><img class="image__photo" src="img/client_02.jpg<%require('./img/client_02.jpg')%>" alt="photo"></div>
                    <div class="slide__said">“This was my first time renting from car rental. The service rep help me
                        find the best rental to suit my needs. I will definitely rent with this company again”
                    </div>
                    <div class="slide__stars"></div>
                    <div class="slide__client client"><span class="client__name">Ashi Sleshi, </span><span
                            class="client__job"><i>ZM Safier</i></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>